.loader-details{
    padding-left: 45%;
    margin-top: 30px;
}
.img-det {
  max-width: 400px;
   max-height: 400px;
}
.img-det img{
    object-fit: cover;
    width:100%;
    height:100%;
    box-shadow: -12px 10px 28px -4px rgba(0,0,0,0.65);
    -webkit-box-shadow: -12px 10px 28px -4px rgba(0,0,0,0.65);
    -moz-box-shadow: -12px 10px 28px -4px rgba(0,0,0,0.65);
    border-radius: 3px;
}
.detailss {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center ;
    gap: 5px;
 
}
/* .detailss img {
    margin-top: 40px;
    width: 500px;
    height: 350px;
} */
.cardDetalle{

padding-top: 0px;
border-left: 3px solid #373D20;
padding-left: 3px;
}
.detailss h2 {
    font-size: 18px;
    margin: 0px;
    color: black;
}
.detailss h4{
    font-size: 15px;
    margin: 0px;
     color: black;

}
.detailss p{
    font-size: 13px;
    margin: 0px;
    width: 100%;
    color: black;
    background-color: #baba9a;
   padding: 5px;


}
.btn-home-details{

    display: flex;
    justify-content: center;
    padding-bottom: 2px;
}