.landingdiv{
    border: 1px solid #191C21;
    background-image: url("../componentsCSS/perroland.jpg");
    background-repeat: no-repeat;
    background-color: #191C21;
    height: 100vh;
}
.aa{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left:1000px;
    margin-top: 100px;
    align-items: center;

}
.aa h1{
    color: antiquewhite;
    letter-spacing: 3px;
    font-size: 80px
}
/* .aa button {
    background-color: aqua;
} */